<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<p><%= link_to 'Talents', talents_path %></p>
<p><%= link_to 'Companies', talents_path %></p>

<link rel="stylesheet" href="//assets-cdn.ziggeo.com/css/ziggeo-v1.css" />
<script src="//assets-cdn.ziggeo.com/js/ziggeo-v1.js"></script>
<script>ZiggeoApi.token = "d26f0dfa752b1b27acf1b437e0009454";</script>

<div>
	<ziggeo ziggeo-width=320
        ziggeo-height=240
        ziggeo-key='TalentVideo'
        ziggeo-perms='allowupload'
        ziggeo-limit=30
        ziggeo-rerecordings=3>
	</ziggeo>
</div>
